<deployment>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="controller1" rmiRegistryCreator="true"
                  hostname="localhost"/>
    <jvm2hostname jvmuri="computer1" rmiRegistryCreator="false"
                  hostname="localhost"/>
    <jvm2hostname jvmuri="computer2" rmiRegistryCreator="false"
                  hostname="localhost"/>
    <jvm2hostname jvmuri="generator1" rmiRegistryCreator="false"
                  hostname="localhost"/>
    <jvm2hostname jvmuri="generator2" rmiRegistryCreator="false"
                  hostname="localhost"/>
  </jvms2hostnames>
</deployment>